* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: inline-block;
}

body {
    margin: 0;
    height:100vh;
    line-height: 1.5;
    font-family: Figtree, sans-serif;
    font-size: 0.875rem;
    color: #111111;
    background-color: #F4D04E;
}

/**********************
    Typography
***********************/
h1, p {
    margin: 0 0 0.75em;
}

h1 {
    font-size: 1.25rem;
    font-weight: 800;
}

a {
    text-decoration: none;
    color: #111111;
}

a:hover {
    color: #F4D04E;
}

.card-body {
    color: #6B6B6B;
}

.card-info,
.card-btn {
    font-size: 0.75rem;
}

.card-btn,
.author-tile {
    font-weight: 800;
}

.card-btn {
    margin: 1.5rem 0 0.75em;
}

.author-tile {
    margin-left: 0.75em;
    align-self: center;
}

/**********************
    Layout
***********************/
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.card-container {
    max-width: 327px;
    margin: 0 1.5em;
    padding: 1.5em;
    background-color: #FFFFFF;
    border: 1px solid #111111;
    border-radius: 20px;
    box-shadow: 0.75em 0.75em currentColor;
}

.card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "img"
    "btn"
    "info"
    "title"
    "body"
    "author"
    ;
}

.main-img {grid-area: img}
.card-btn {grid-area: btn}
.card-title {grid-area: title}
.card-body {grid-area: body}
.card-info {grid-area: info}
.author-info {grid-area: author}

.author-info {
    display: flex;
}

/**********************
    card
***********************/
/* images */
.card-img {
    border-radius: 10px;
}

.card-btn {
    background: #F4D04E;
    padding: 0.75em 0.75em;
    justify-self: flex-start;
    border-radius: 5px;
}